<script context="module" lang="ts">
  import {flip} from 'svelte/animate';
  import {dndzone} from 'svelte-dnd-action';

  import type {Board} from '../types/Board';
  import type {Item} from '../types/Item';
  import Controls from './Controls.svelte';
  import Preferences from "./Preferences.svelte";
  import Panel from './Panel.svelte';
  import {isRemoteImageItem} from './models';
  import {removeImage} from './store/supabase';
</script>

<script lang="ts">
  export let board: Board;
  let focusIndex: number = undefined;
  let gap = 20;
  export let marginInline = 'auto';
  let flipDurationMs = 200;
  let preferencesOpen = false;
  let dialogOpen = false;
  let dialogID = 'tsv';
  $: width = board.preferences.panelWidth * board.preferences.columns + gap * (board.preferences.columns - 1);

  function addItem(item: Item) {
    if (focusIndex === undefined) {
      board = {
        ...board,
        items: [...board.items, item],
      };
    } else {
      board = {
        ...board,
        items: [
          ...board.items.slice(0, focusIndex + 1),
          item,
          ...board.items.slice(focusIndex + 1)
        ],
      };
    }
  }
  function updateItem(id: string, item: Item) {
    const index = board.items.findIndex(item => item.id === id);
    if (index === -1) {
      console.error(`No item found. id: ${item.id}`);
    } else {
      board = {
        ...board,
        items: [
          ...board.items.slice(0, index),
          item,
          ...board.items.slice(index + 1)
        ]
      };
    }
  }
  function handleDndConsider(e) {
    board = {
      ...board,
      items: e.detail.items
    };
  }
  function handleDndFinalize(e) {
    board = {
      ...board,
      items: e.detail.items
    };
  }
  async function remove(index: number) {
    const item = board.items[index];
    board = {
      ...board,
      items: [...board.items.slice(0, index), ...board.items.slice(index + 1)]
    };
    if (isRemoteImageItem(item)) {
      await removeImage(item);
    }
  }
  function handleFocusout(event: FocusEvent) {
    if (! (event.currentTarget as HTMLElement).contains(event.relatedTarget as HTMLElement)) {
      focusIndex = undefined;
    }
  }
  function showTSV() {
    const dialog = document.getElementById(dialogID) as HTMLDialogElement;
    dialog?.showModal();
    dialog.querySelector('textarea')?.select();
  }
  function toTSV(items, columns, direction) {
    const data: Item[][] = [];
    let current = [];
    for (let i = 0, l = items.length; i < l; i++) {
      if (i !== 0 && i % columns === 0) {
        data.push(current);
        current = [];
      }
      current.push(items[i]);
    }
    for (let i = 0, l = columns - current.length; i < l; i++) {
      current.push({});
    }
    data.push(current);

    return data.map((column, index) => {
      if (direction === 'rtl') {
        column.reverse();
      }
      const numbers = column.map((_, i) => index * columns + i);
      if (direction === 'rtl') {
        numbers.reverse();
      }
      return [
        numbers.join('\t'),
        column.map(({name}) => name ?? '').join('\t')
      ].join('\n');
    }).join('\n\n');
  }
  $: tsv = toTSV(board.items, board.preferences.columns, board.preferences.direction);
</script>

<style>
  .controls {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: var(--spectrum-popover-background-color, var(--spectrum-global-color-gray-50));
  }

  .wrapper {
    width: 100%;
    height: calc(100vh - 80px);
    overflow: scroll;
  }

  ol {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    list-style: none;
    transition: width 200ms;
  }

  li {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    width: var(--item-width, auto);
    margin: 0;
    border: solid 1px;
    direction: ltr;
    background-color: #ffffff;
    transition: width 200ms;
  }

  .focused {
    outline: solid;
  }

  dialog button {
    position: absolute;
    top: 0;
    right: 0;
  }
  dialog textarea {
    width: 100%;
    height: 100%;
    width: 80vw;
    height: 80vh;
  }

  .main {
    display: flex;
    width: 100%;
    overflow-y: hidden;
  }

  aside {
    overflow-y: scroll;
    transition: max-width 200ms, transform 200ms, visibility 200ms;
  }

  aside[aria-hidden="true"] {
    visibility: hidden;
    max-width: 0;
    transform: translateX(100%);
  }

  aside[aria-hidden="false"] {
    visibility: visible;
    max-width: 50vw;
    transform: translateX(0);
  }
</style>

<div on:focusout={handleFocusout}>
  <div class="controls">
    <Controls bind:preferences={board.preferences} bind:preferencesOpen {board} exportData={showTSV} {addItem} {updateItem} />
  </div>
  <div class="main">
    <div class="wrapper">
      <ol
        use:dndzone={{items: board.items, flipDurationMs}}
        on:consider={handleDndConsider}
        on:finalize={handleDndFinalize}
        style:margin-inline={marginInline}
        style:width="{width}px"
        style:direction={board.preferences.direction}
        style:gap="{gap}px"
        style:--item-width={`${board.preferences.panelWidth}px`}>
        {#each board.items as item, i (item.id)}
          <li animate:flip={{duration: flipDurationMs}} class:focused={i === focusIndex} on:focusin={() => focusIndex = i}>
            <Panel bind:item remove={() => remove(i)} number={i} />
          </li>
        {/each}
      </ol>
    </div>
    <aside class="preferences" aria-hidden={preferencesOpen ? 'false' : 'true'}>
      <Preferences bind:preferences={board.preferences} />
    </aside>
  </div>
  <dialog id={dialogID} open={dialogOpen}>
    <form method="dialog">
      <button>×</button>
      <textarea value={tsv} readonly />
    </form>
  </dialog>
</div>
