<script context="module" lang="ts">
  import Dropzone from 'svelte-file-dropzone';
  import type {Board, Preferences} from '../types/Board';
  import type {Item} from '../types/Item';
  import {createTextItem, createLocalImageItem, boardURL} from './models';
  import {saveImage} from './store/supabase';
</script>

<script lang="ts">
  const SHARABLE = 'share' in navigator;
  export let board: Board;
  export let preferences: Preferences;
  export let preferencesOpen: boolean = false;
  export let addItem: (item: Item) => void;
  export let updateItem: (id: string, item: Item) => void;
  export let exportData: () => void;

  let columns = preferences.columns;
  let panelWidth = preferences.panelWidth;
  let direction = preferences.direction;
  let imageDropZoneOpen = false;
  let shareDialogOpen = false;

  $: preferences = {columns, panelWidth, direction};
  $: shareURL = boardURL(board);

  function addTextItem() {
    addItem(createTextItem());
  }

  function handleFilesSelect(e) {
    e.detail.acceptedFiles.forEach(async (file: File) => {
      const item = createLocalImageItem(file);
      addItem(item);
      const src = await saveImage(item);
      updateItem(item.id, {...item, src})
    });
  }

  function handleShareClick() {
    shareDialogOpen = !shareDialogOpen;
  }

  function handleCloseShareClick() {
    shareDialogOpen = false;
  }

  async function handleShareMoreClick(e: MouseEvent) {
    navigator.share({
      text: 'Toy Panels',
      url: shareURL.toString()
    });
  }

  function setSelected(node, {selected}) {
    node.selected = selected;
  }

  function setOpen(node, {open}) {
    node.open = open;
  }
</script>

<style>
  dialog {
    position: sticky;
    inset-block-start: 80px;
    max-width: 100%;
  }

  dialog > ul {
    padding-inline-start: 1em;
  }

  dialog input {
    max-width: 100%;
  }

  .close-button {
    position: absolute;
    inset-block-start: 0;
    inset-inline-end: 0;
  }

  #dropzone-container {
    --spectrum-actionbar-height: auto;
    --spectrum-actionbar-padding-right: 0;
    --spectrum-actionbar-padding-left: 0;
    --spectrum-popover-border-size: 0;
  }
</style>

<div>
  <sp-action-bar open>
    <sp-action-group>
      <!-- svelte-ignore a11y-click-events-have-key-events -->
      <sp-action-button selected={imageDropZoneOpen} on:click={() => imageDropZoneOpen = !imageDropZoneOpen} use:setSelected={{selected: imageDropZoneOpen}}>
        <sp-icon-image-add slot="icon"></sp-icon-image-add>画像
      </sp-action-button>
      <!-- svelte-ignore a11y-click-events-have-key-events -->
      <sp-action-button on:click={addTextItem}>
        <sp-icon-text-add slot="icon"></sp-icon-text-add>テキスト
      </sp-action-button>
    </sp-action-group>
    <sp-action-group>
      <!-- svelte-ignore a11y-click-events-have-key-events -->
      <sp-action-button selected={shareDialogOpen} on:click={handleShareClick} use:setSelected={{selected: shareDialogOpen}}>
        <sp-icon-share-light slot="icon"></sp-icon-share-light>共有
      </sp-action-button>
    </sp-action-group>
    <sp-action-group>
      <!-- svelte-ignore a11y-click-events-have-key-events -->
      <sp-action-button selected={preferencesOpen} on:click={() => preferencesOpen = !preferencesOpen}>
        <sp-icon-settings slot="icon"></sp-icon-settings>設定
      </sp-action-button>
    </sp-action-group>
  </sp-action-bar>
  <sp-action-bar id="dropzone-container" open={imageDropZoneOpen} use:setOpen={{open: imageDropZoneOpen}}>
    <Dropzone on:drop={handleFilesSelect} accept={['image/png', 'image/jpeg']}>
      画像ファイルをドラッグ＆ドロップするか、タップして画像ファイルを選択してください
    </Dropzone>
  </sp-action-bar>
  <dialog open={shareDialogOpen} use:setOpen={{open: shareDialogOpen}}>
    <h2>共有</h2>
    <button class="close-button" type="button" on:click={handleCloseShareClick}>x</button>
    <ul>
      <li><input type="url" readonly value={boardURL(board)} style="width: {shareURL.toString().length}ch;"></li>
      <li><button type="button" on:click={exportData}>スプレッドシート</button></li>
      {#if SHARABLE}
        <li><button type="button" on:click={handleShareMoreClick}>もっと</button></li>
      {/if}
    </ul>
  </dialog>
</div>
