<script context="module" lang="ts">
  import type {Item} from '../types/Item';
  import TextContent from './TextContent.svelte';
  import ImageContent from './ImageContent.svelte';
</script>

<script type="ts">
  import {isTextItem, isImageItem} from "./models";

  export let item: Item;
</script>

{#if isTextItem(item)}
  <TextContent bind:item />
{:else if isImageItem(item)}
  <ImageContent bind:item />
{/if}
