<script context="module" lang="ts">
  import type {ImageItem} from '../types/Item';
  import {isLocalImageItem, isRemoteImageItem} from './models';
</script>

<script lang="ts">
  export let item: ImageItem;
</script>

<style>
  div {
    width: 100%;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  img {
    object-fit: scale-down;
    max-width: 100%;
    max-height: 100%;
  }

  span {
    position: absolute;
    top: 0;
    right: 0;
    font-size: smaller;
    background-color: #ffffffaa
  }
</style>

<div>
  {#if isLocalImageItem(item)}
    <img src={URL.createObjectURL(item.image)} alt={item.alt} />
    <span>{item.image.name}</span>
  {:else if isRemoteImageItem(item)}
    <img src={item.src} alt={item.alt} />
    <span>{item.imageName}</span>
  {/if}
</div>
