<script context="module" lang="ts">
  import type {Item} from '../types/Item';
  import Content from './Content.svelte';
</script>

<script lang="ts">
  export let item: Item;
  export let number: number;
  export let remove: () => void;

  function focusOnAdded(element) {
    element.focus();
  }
</script>

<style>
  .container {
    width: 100%;
    height: 100%;
    background-color: #fafafa;
  }

  .controls {
    display: flex;
    justify-content: flex-end;
  }

  h3 {
    margin-block-start: 0;
    text-align: center;
  }

  input {
    width: 100%;
    border: none;
    font: inherit;
    text-align: inherit;
    background-color: transparent;
  }

  input::placeholder {
    font-weight: normal;
    opacity: 0.3;
  }

  .content {
    display: flex;
    justify-content: center;
    aspect-ratio: 1;
    width: 100%;
    text-align: start;
  }

  .nombre {
    margin: 0;
    width: 100%;
    text-align: center;
  }
</style>

<div use:focusOnAdded tabindex="-1" class="container">
  <div class="controls">
    <!-- svelte-ignore a11y-click-events-have-key-events -->
    <sp-action-button on:click={remove}>
      <sp-icon-delete slot="icon"></sp-icon-delete>
    </sp-action-button>
  </div>
  <h3><input type="text" bind:value={item.name} placeholder="入力してください" /></h3>
  <div class="content">
    <Content bind:item />
  </div>
  <p class="nombre">{number}</p>
</div>
