<script lang="ts">
  import {debounce} from './debounce';
  import type {Preferences as PreferencesType} from '../types/Board';

  const MIN_COLUMN_WIDTH = 50;
  const MAX_COLUMN_WIDTH = 1000;

  export let preferences: PreferencesType;

  function handleColumnsChange(e) {
    preferences.columns = e.target.value
  }

  function handlePanelWidthChange(e) {
    preferences.panelWidth = e.target.value;
  }

  function handleDirectionChange(e) {
    preferences.direction = e.target.selected;
  }
</script>

<style>
  .wrapper {
    padding: 1rem;
    min-width: 10rem;
  }

  .wrapper > * + * {
    margin-top: 1rem;
  }

  .wrapper > * > * {
    width: 100%;
  }
</style>

<div class="wrapper">
  <div>
    <sp-field-label for="columns">カラム数</sp-field-label>
    <sp-number-field id="columns" step="1" min="1" value={preferences.columns} on:input={handleColumnsChange}></sp-number-field>
  </div>
  <div>
    <sp-field-label for="panelWidth">パネル幅</sp-field-label>
    <sp-number-field id="panelWidth" step="1" min={MIN_COLUMN_WIDTH} max={MAX_COLUMN_WIDTH} value={preferences.panelWidth} on:input={debounce(handlePanelWidthChange, 3000)}></sp-number-field>
    <sp-slider step="1" min={MIN_COLUMN_WIDTH} max={MAX_COLUMN_WIDTH} value={preferences.panelWidth} on:input={handlePanelWidthChange}></sp-slider>
  </div>
  <div>
    <sp-field-label>方向</sp-field-label>
    <sp-radio-group selected={preferences.direction} on:change={handleDirectionChange}>
      <sp-radio value="ltr">左→右</sp-radio><br>
      <sp-radio value="rtl">左←右</sp-radio>
    </sp-radio-group>
  </div>
</div>
