<script context="module" lang="ts">
  import type {TextItem} from '../types/Item';
</script>

<script lang="ts">
  export let item: TextItem;
</script>

<style>
  div {
    width: 100%;
    aspect-ratio: 1;
    padding-inline: 1rem;
  }

  textarea {
    width: 100%;
    height: 100%;
    border: none;
  }
</style>

<div>
  <textarea bind:value={item.text} placeholder="入力してください" />
</div>
