<script lang="ts">
  import type {Board as BoardData} from './types/Board';
  import Board from './lib/Board.svelte';
  import {fetchBoard, saveBoard} from './lib/store/supabase';
  import {boardURL, createInitialBoard} from './lib/models';
  import {derived, writable, type Writable} from 'svelte/store';
  import NewBoardLink from './lib/NewBoardLink.svelte';

  const params = new URLSearchParams(location.search);
  const boardParam = params.get('board');
  const initial = boardParam === null;
  let persisted = ! initial;
  let board: BoardData;
  let boardCacheKey: string = '';
  const boardStore = writable<BoardData>();
  const debouncedBoardStore = derived<Writable<BoardData>, BoardData>(boardStore, ($board, set) => {
    const timeoutID = setTimeout(() => set($board), 1000);
    return () => clearTimeout(timeoutID);
  });
  debouncedBoardStore.subscribe(async b => {
    const cacheKey = JSON.stringify(b);
    if (cacheKey === boardCacheKey) {
      return;
    }
    boardCacheKey = cacheKey;
    board = b;
    if (! b) {
      return;
    }
    if ((! persisted) && (b.items.length === 0)) {
      return;
    }
    await saveBoard(b);
    if ((! persisted) && (b.items.length !== 0)) {
      const url = boardURL(board);
      history.replaceState(null, '', url);
      persisted = true;
    }
  });
  const initializing = initial ? Promise.resolve(createInitialBoard()) : fetchBoard(boardParam);
  initializing.then(data => {
    boardCacheKey = JSON.stringify(data);
    board = data;
  });

  $: boardStore.set(board);
</script>

<style>
  :global(*) {
    box-sizing: border-box;
    font-family: メイリオ, ヒラギノ角ゴシック, 游ゴシック, sans-serif;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
</style>

<sp-theme theme="spectrum" color="light" scale="medium">
  <header>
    <h1>Toy Panels</h1>
    <NewBoardLink />
  </header>

  <main>
    {#if board}
      <Board bind:board marginInline="auto" />
    {/if}
  </main>

  <footer>
    <p><a href="https://gitlab.com/KitaitiMakoto/toypanels">Source code</a></p>
  </footer>
</sp-theme>
